.blog-grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 30px 21px;
  margin-top:37px;
  margin-bottom:20px;
}

.blog-grid .blog-wrapper{
  background-color:white;
  border-radius: 5px;
}

.blog-grid .blog-wrapper{
  padding:0px;
}

.blog-grid .blog-wrapper .heading{
  padding-left:15px;
  padding-top:15px;
}

.blog-grid .meta-wrapper{
padding-left:15px;
}

.blog-grid .blog-content{
padding-left:15px;
}

.blog-grid .blog-wrapper .builder-btn{
margin:15px;
}