/*--------------------------------------------------------------
## color
--------------------------------------------------------------*/

$dark-color: #000;
$md-dark-color: #212121;
$light-blue: #0246d2;
$lig-color: #e1e1e1;
$grey-color: #666;
$blue-dark: #032365;
$main-color: #4a4a4a;
$white-color: #fff;
$link-color: #757575;
$primary-color: #504992;
$secondary-color: #07253f;

/*--------------------------------------------------------------
## font
--------------------------------------------------------------*/

$font__primary: 'Playfair Display', sans-serif;
$font__secondary: 'Poppins', sans-serif;


