/**
====================================================================
  General Classes
====================================================================
*/

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}

html, body {
  color: #555;
  font-family: $font__primary;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  width: 100%;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

p {
  font-family: $font__secondary;

}

a {
  color: #555555;
  &:active, &:focus {
    color: initial;
  }
}

body {
  line-height: 1.7em;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #555;
  clear: both;
  line-height: 1.4;
  margin: 0 0 0.75em;
  padding: 1.5em 0 0;
}

h1 {
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-size: 33px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 19px;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  font-weight: 700;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

input[type="text"],
input[type="email"], input[type="password"], input[type="url"], input[type="number"] {
  background: transparent;
  border: 1px solid #555;
  color: #000;
  height: 50px;
  padding: 0px 10px 0 20px;
  width: 100%;
  font-weight: 400;
}

textarea {
  background: transparent;

  border: 1px solid #555;
  color: #000;
  padding: 10px 10px 0 20px;
  width: 100%;
  font-weight: 400;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}

blockquote {
  background: transparent url(../images/bquote.png) no-repeat scroll 0 0;
  border: none;
  padding: 0 0 0 40px;
}

blockquote p {
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 8px !important;
}

blockquote cite {
  font-weight: 700;
}

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 15px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}

caption, td {
  font-weight: normal;
  text-align: left;
}

tr {
  font-weight: 700;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ol {
  margin-left: 20px;
  list-style: decimal;
}

li > ul, li > ol {
  margin-left: 20px;
}

address {
  font-style: italic;
}

p {
  margin: 0 0 1.5em;
  padding: 0;
}

dd {
  margin: 0 0 1.5em 20px;
  padding: 0;
}

big {
  font-size: 125%;
}

small {
  font-size: 80%;
}

.loader-wrapper {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000;
}

#pre-loader {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -100px;
  margin-left: -100px;
  background: url("../images/loader.gif") no-repeat;
}

/**
====================================================================
  Wordpress Core
====================================================================
*/

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 15px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.sticky {
  margin-bottom: 2px;
}

.entry-title .fa-thumb-tack {
  padding-right: 5px;
}

.gallery-caption {
  font-size: 15px;
  font-weight: 700;
}

.bypostauthor {
  font-size: 15px;
  color: #555;
}

.center {
  text-align: center;
}
